#app_btns {
  margin-top: 22px;
}

#form_row {
  z-index: 2;
  position: absolute;
  #form {
    background: url("http://www.saidaonline.com/en/newsgfx/happy%20couple2-saidaonline.jpg");
    background-size: cover;
    padding: 20px;
    border: 1px solid black;
  }

}

#words {
  position: absolute;
}